In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
income_location = []
income_mean = []
with open('data/income.csv', "rt", encoding= 'utf8') as csvfile:
    county_income = csv.reader(csvfile, delimiter=',')

    for line in county_income:
        income_location.append(line[2])
        income_mean.append(line[5])

In [4]:
county = []
state = []
for word in income_location[1:]:
    word = word.split(", ")
    #print(word[0])
    
    county.append(word[0])
    state.append(word[1])
d ={'county' : county, 'state' : state, 'income' : income_mean[1:]}
df = pd.DataFrame(data = d)
df.head()

           county income    state
0  Baldwin County  74892  Alabama
1  Calhoun County  58992  Alabama
2  Cullman County  54412  Alabama
3   DeKalb County  48529  Alabama
4   Elmore County  71553  Alabama

In [23]:
AZ = df[df['state'] == 'Arizona']
PA = df[df['state'] == 'Pennsylvania']
NV = df[df['state'] == 'Nevada']
NC = df[df['state'] == 'North Carolina']
OH = df[df['state'] =='Ohio']
IL = df[df['state'] == 'Illinois']
income_df = pd.concat([AZ, PA, NV, NC, OH, IL])
income_df.head()

             county income    state
24    Apache County  44505  Arizona
25   Cochise County  55174  Arizona
26  Coconino County  67297  Arizona
27  Maricopa County  81501  Arizona
28    Mohave County  57530  Arizona

In [21]:
replace = {'Arizona': 'az', 'Pennsylvania': 'pa', 'Nevada': 'nv', 'North Carolina': 'nc', 
          'Ohio': 'oh', 'Illinois': 'il'}
income_df.replace(replace, inplace = True)
income_df.head()

      county income state     combine
24    apache  44505    az    apacheaz
25   cochise  55174    az   cochiseaz
26  coconino  67297    az  coconinoaz
27  maricopa  81501    az  maricopaaz
28    mohave  57530    az    mohaveaz

In [22]:
for i, row in income_df.iterrows():
    row[0] = row[0].split(" County")[0]

income_df['county'] = income_df['county'].str.lower()
income_df['combine'] = income_df['county'] + income_df['state']
income_df.head()

      county income state     combine
24    apache  44505    az    apacheaz
25   cochise  55174    az   cochiseaz
26  coconino  67297    az  coconinoaz
27  maricopa  81501    az  maricopaaz
28    mohave  57530    az    mohaveaz

In [20]:
income_df.to_csv('data/income_data.csv', index = False)