In [30]:
import csv
import pandas as pd
import numpy as np

In [31]:
states = pd.read_csv("data/zip_codes_states.csv")

In [32]:
states.head()

   zip_code   latitude  longitude        city state     county
0       501  40.922326 -72.637078  Holtsville    NY    Suffolk
1       544  40.922326 -72.637078  Holtsville    NY    Suffolk
2       601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3       602  18.393103 -67.180953      Aguada    PR     Aguada
4       603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

In [45]:
az = states[states['state'] == 'AZ']
pa = states[states['state'] == 'PA']
nv = states[states['state'] == 'NV']
nc = states[states['state'] == 'NC']
il = states[states['state'] == 'IL']
oh = states[states['state'] == 'OH'] 
states_df = pd.concat([az, pa, nv, nc, oh, il])
states_df = states_df.iloc[:, [0, 4,5]]
states_df['state'] = states_df['state'].str.lower()
states_df['county'] = states_df['county'].str.lower()
states_df['combine'] = states_df['county'] + states_df['state']
states_df.head()

       zip_code state    county     combine
36991     85001    az  maricopa  maricopaaz
36992     85002    az  maricopa  maricopaaz
36993     85003    az  maricopa  maricopaaz
36994     85004    az  maricopa  maricopaaz
36995     85005    az  maricopa  maricopaaz

In [35]:
states_df.to_csv('data/zip_code_data2.csv', index = False)

In [52]:
new_states = pd.read_csv("data/zip_code_data2.csv")
new_states.head()

   zip_code state    county     combine
0     85001    az  maricopa  maricopaaz
1     85002    az  maricopa  maricopaaz
2     85003    az  maricopa  maricopaaz
3     85004    az  maricopa  maricopaaz
4     85005    az  maricopa  maricopaaz

In [41]:
income = pd.read_csv('data/income_data.csv')

In [61]:
income.head()

     county  income state     combine
0    apache   44505    az    apacheaz
1   cochise   55174    az   cochiseaz
2  coconino   67297    az  coconinoaz
3  maricopa   81501    az  maricopaaz
4    mohave   57530    az    mohaveaz

In [48]:
income_zip = pd.merge(new_states, income, on = 'combine', how = 'left')

In [56]:
income_states = income_zip.dropna()
income_states.head()

   zip_code state_x  county_x     combine  county_y   income state_y
0     85001      az  maricopa  maricopaaz  maricopa  81501.0      az
1     85002      az  maricopa  maricopaaz  maricopa  81501.0      az
2     85003      az  maricopa  maricopaaz  maricopa  81501.0      az
3     85004      az  maricopa  maricopaaz  maricopa  81501.0      az
4     85005      az  maricopa  maricopaaz  maricopa  81501.0      az

In [57]:
income_states = income_states.iloc[:,[0, 1,2,3,5]]

In [60]:
len(income_states['zip_code'].tolist())

4742

In [59]:
income_states.to_csv('data/income_zipcode.csv', index = False)