In [1]:
import json
import csv
import pandas as pd
import matplotlib.pyplot as plt

# load review data

In [2]:
data = []
with open('review.json') as f:
    for line in f:
        data.append(json.loads(line))

In [3]:
len(data)   # 4736897 reviews

4736897

In [4]:
data[0]

{'business_id': 'uYHaNptLzDLoV_JZ_MuzUA',
 'cool': 0,
 'date': '2016-07-12',
 'funny': 0,
 'review_id': 'VfBHSwC5Vz_pbFluy07i9Q',
 'stars': 5,
 'text': 'My girlfriend and I stayed here for 3 nights and loved it. The location of this hotel and very decent price makes this an amazing deal. When you walk out the front door Scott Monument and Princes street are right in front of you, Edinburgh Castle and the Royal Mile is a 2 minute walk via a close right around the corner, and there are so many hidden gems nearby including Calton Hill and the newly opened Arches that made this location incredible.\n\nThe hotel itself was also very nice with a reasonably priced bar, very considerate staff, and small but comfortable rooms with excellent bathrooms and showers. Only two minor complaints are no telephones in room for room service (not a huge deal for us) and no AC in the room, but they have huge windows which can be fully opened. The staff were incredible though, letting us borrow umbrellas for the rain, giving us maps and directions, and also when we had lost our only UK adapter for charging our phones gave us a very fancy one for free.\n\nI would highly recommend this hotel to friends, and when I return to Edinburgh (which I most definitely will) I will be staying here without any hesitation.',
 'useful': 0,
 'user_id': 'cjpdDjZyprfyDG3RlkVG3w'}

In [5]:
reviewid = []
businessid= []
userid = []
stars = []
text = []
date = []

for entry in range(0, len(data)):     
    reviewid.append(data[entry]['review_id'])
    businessid.append(data[entry]['business_id'])
    userid.append(data[entry]['user_id'])
    stars.append(data[entry]['stars'])
    text.append(data[entry]['text'])
    date.append(data[entry]['date'])

In [5]:
data = {'review_id':reviewid,'business_id':businessid,'user_id':userid,'stars':stars,'text':text,'date':date}
review_data  = pd.DataFrame(data)

In [6]:
review_data.head()

,business_id,date,review_id,stars,text,user_id
0,uYHaNptLzDLoV_JZ_MuzUA,2016-07-12,VfBHSwC5Vz_pbFluy07i9Q,5,My girlfriend and I stayed here for 3 nights a...,cjpdDjZyprfyDG3RlkVG3w
1,uYHaNptLzDLoV_JZ_MuzUA,2016-10-02,3zRpneRKDsOPq92tq7ybAA,3,If you need an inexpensive place to stay for a...,bjTcT8Ty4cJZhEOEo01FGA
2,uYHaNptLzDLoV_JZ_MuzUA,2015-09-17,ne5WhI1jUFOcRn-b-gAzHA,3,Mittlerweile gibt es in Edinburgh zwei Ableger...,AXgRULmWcME7J6Ix3I--ww
3,uYHaNptLzDLoV_JZ_MuzUA,2016-08-21,llmdwOgDReucVoWEry61Lw,4,Location is everything and this hotel has it! ...,oU2SSOmsp_A8JYI7Z2JJ5w
4,uYHaNptLzDLoV_JZ_MuzUA,2013-11-20,DuffS87NaSMDmIfluvT83g,5,gute lage im stadtzentrum. shoppingmeile und s...,0xtbPEna2Kei11vsU-U2Mw

In [7]:
review_data.to_csv('review_data.csv')   # save to csv

#  load business data

In [6]:
data2 = []
with open('business.json') as f:
    for line in f:
        data2.append(json.loads(line))
len(data2)  # 156639 business

156639

In [7]:
business_id = []
city = []
state = []
stars = []
review_count = []
categories = []
postal_code = []
latitude = []
longitude = []
pricerange = []
is_open = []
name = []


for entry in range(0, len(data2)): 
    if "Restaurants" in data2[entry]["categories"]:
        business_id.append(data2[entry]['business_id'])
        name.append(data2[entry]['name'])
        city.append(data2[entry]['city'])
        state.append(data2[entry]['state'])
        stars.append(data2[entry]['stars'])
        postal_code.append(data2[entry]['postal_code'])
        review_count.append(data2[entry]['review_count'])
        categories.append(data2[entry]['categories'])
        latitude.append(data2[entry]['latitude'])
        longitude.append(data2[entry]['longitude'])
        is_open.append(data2[entry]['is_open'])
        if 'RestaurantsPriceRange2'in data2[entry]['attributes']:
            pricerange.append(data2[entry]['attributes']['RestaurantsPriceRange2'])
        else:
            pricerange.append(0)

In [8]:
data2 = {'business_id ':business_id,'name':name,'city':city,'state':state,'stars':stars,'review_count':review_count,
        'categories':categories,'latitude':latitude,'longitude':longitude,'is_open':is_open,
        'pricerange':pricerange,'postal_code':postal_code}
business_data  = pd.DataFrame(data2)

# clean business data keep only is_open = 1 in six states

In [9]:
IL = business_data[business_data['state']=='IL']   # PA NV NC IL OH AZ only keep these 6 states 
PA = business_data[business_data['state']=='PA'] 
NV = business_data[business_data['state']=='NV']
NC = business_data[business_data['state']=='NC']
OH = business_data[business_data['state']=='OH']
AZ = business_data[business_data['state']=='AZ']
frame = [IL,PA,NV,NC,OH,AZ]
business_info = pd.concat(frame)

In [11]:
business = business_info[business_info['is_open']==1]   # only keep restaurants that are open
business.to_csv('business_data.csv')   # save to csv

In [23]:
df = pd.read_csv('business_data.csv')
len(df)

21380

# Clean review: keep reviews for restaurants in cleaned business dataset

In [ ]:
# Create review_subset

df = pd.read_csv('business_data.csv')
df.head()

df2 = pd.read_csv('review_data.csv')

df['key'] = df.iloc[:,1]
review = df2[df2['business_id'].isin(df['key'])]  # only keep reviews for restaurants in business_data.csv
review = review.reset_index().iloc[:,2:]

In [ ]:
review.to_csv('review_subset.csv',index = False)  # save to csv

# Load user data

In [172]:
data3 = []
with open('user.json') as f:
    for line in f:
        data3.append(json.loads(line))
len(data3)    # 1183362 users

1183362

In [177]:
userid = []
average_stars= []
review_count = []
yelping_since = []

for entry in range(0, len(data3)):     
    userid.append(data3[entry]['user_id'])
    average_stars.append(data3[entry]['average_stars'])
    review_count.append(data3[entry]['review_count'])
    yelping_since.append(data3[entry]['yelping_since'])

In [180]:
data3 = {'user_id':userid ,'average_stars':average_stars,'review_count':review_count,'yelping_since':yelping_since,'review_count':review_count}
user_data  = pd.DataFrame(data3)

In [182]:
user_data.head(10)

   average_stars  review_count                 user_id yelping_since
0           3.80           272  lsSiIjAKVl-QRxKjRErBeg    2010-07-13
1           3.94          2559  om5ZiponkpRqUNa3pVPiRg    2006-01-18
2           4.72           277  -lGwMGHMC_XihFJNKCJNRg    2014-10-31
3           3.76           436  D-ydMTPGWXTVm4_jjp0k9g    2013-04-01
4           4.23           921  PcvbBOCOcs6_suRDH7TSTg    2012-08-16
5           5.00            22  uXjR2GhCAYhqxVr21aC4vQ    2011-10-14
6           4.40            91  N2arP_u4sMGLgOZhA6ZFoQ    2013-12-20
7           4.06            68  YHJIMK_zVH_VY6HCY6bYvg    2012-06-08
8           3.63           184  g3V76Ja0XgWS1rqx0gxL_A    2007-09-11
9           4.19            48  VTL4Dep5p7XrrOtgnXdEIQ    2010-04-25